<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<%= link_to store_path(@store), class: "brand-link" do %>
		<%= image_tag("AdminLTELogo.png", class: "brand-image img-circle elevation-3" , alt: "Logo") %>
		<span class="brand-text font-weight-light"><%= current_user.store.name.upcase %></span>
	<% end %>
	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<%= image_tag("user2-160x160.jpg", class: "img-circle elevation-2" , alt: "Profile photo") %>
			</div>
			<div class="info">
				<%= link_to "#{current_user.name}", store_path(@store),  class: "d-block" %>
			</div>
		</div>
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item has-treeview">
					<%= link_to "<i class= 'nav-icon fas fa-chart-pie'></i><p>Profile <i class='right fas fa-angle-left'></i> </p>".html_safe, "#", class: 'nav-link' %>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<%= link_to "<i class= 'far fa-circle nav-icon'></i><p>Edit Profile</p>".html_safe, "#", class: 'nav-link' %>
						</li>
						<li class="nav-item">
							<%= link_to "<i class= 'far fa-circle nav-icon'></i><p>View Profile</p>".html_safe, "#", class: 'nav-link' %>
						</li>
						<li class="nav-item">
							<%= link_to "<i class= 'far fa-circle nav-icon'></i><p>Log out</p>".html_safe, destroy_user_session_path, data: {confirm: 'Are you sure?'}, method: :delete, class: 'nav-link' %>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview menu-open">
					<%= link_to "<i class= 'nav-icon fas fa-tachometer-alt'></i><p>Dashboard</p>".html_safe, "#", class: 'nav-link active' %>
				</li>
				<li class="nav-item">
					<%= link_to "<i class= 'nav-icon far fa-image'></i><p>Users</p>".html_safe, store_users_path(@store), class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to "<i class= 'nav-icon far fa-image'></i><p>Orders</p>".html_safe, "#", class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to "<i class= 'nav-icon far fa-image'></i><p>Customer</p>".html_safe, "#", class: 'nav-link' %>
				</li>
				<li class="nav-item">
					<%= link_to "<i class= 'nav-icon far fa-image'></i><p>Products</p>".html_safe, "#", class: 'nav-link' %>
				</li>
			</ul>
		</nav>
	</div>
	</aside>
